In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import os
import pandas as pd
from tqdm import tqdm
from utils import *

In [3]:
unstructured_path = '../../ECHR/echr-data/echr_2_0_0_unstructured_cases.json'
ust= load_json(unstructured_path)

In [6]:
# Initialize an empty list to hold case data
case_data = []

# Iterate over each case in the list
for case in tqdm(ust):
    itemid = case['itemid']
    appno = case['appno']
    extractedappno = case['extractedappno']
    importance = case['importance']
    
    # Append the data as a dictionary to the case_data list
    case_data.append({
        'itemid': itemid,
        'appno': appno,
        'extractedappno': extractedappno,
        'importance': importance
    })

# Create a DataFrame from the case_data list
df = pd.DataFrame(case_data)

100%|██████████| 16096/16096 [00:01<00:00, 13320.40it/s]

In [7]:
df.head()

,itemid,appno,extractedappno,importance
0,001-95845,33888/05,"[33888/05, 28/00, 73/00, 71/01, 46/95, 101/03,...",4
1,001-209033,10783/14,"[10783/14, 68294/01, 51127/18, 37685/10, 22768...",2
2,001-178343,29431/05;7070/06;5402/07,"[29431/05, 7070/06, 5402/07, 68955/11, 34148/0...",3
3,001-84572,11101/04,"[11101/04, 38049/02, 52495/99, 15212/03, 11215...",4
4,001-112534,19433/07,"[19433/07, 39272/98, 29392/95, 33218/96, 36505...",4

In [12]:
df['itemid'].nunique(), df['appno'].nunique()

(16096, 15910)

In [10]:
def get_importances_of_cited_cases(df, itemid):
    # Find the extractedappno for the given itemid
    extractedappno_list = df.loc[df['itemid'] == itemid, 'extractedappno'].values[0]
    
    # Query the DataFrame for the importances of the cited cases
    cited_cases_importance = df[df['appno'].isin(extractedappno_list)][['appno', 'importance']]
    
    return cited_cases_importance

In [11]:
get_importances_of_cited_cases(df, '001-95845')

          appno importance
0      33888/05          4
927    17271/04          3
2035   59498/00          1
9498    3102/05          4
11610  17556/05          4
12887  40765/02          1