In [1]:
import os
import pandas as pd
from utils import load_json

In [2]:
processed_data_root = '/Users/ahmed/Desktop/msc-24/ECHR/echr-processed' 
cases_files = os.listdir(processed_data_root)
id_t_date = {}

for file in cases_files:
   case = load_json(os.path.join(processed_data_root, file))
   id_t_date[case['itemid']] = case['judgementdate']

In [3]:
df = pd.read_csv('/Users/ahmed/Desktop/msc-24/ECHR/paragraphs/echr_case_paragraphs.csv')

In [4]:
df.head(3)

,case_id,case_name,paragraph_number,paragraph_text
0,001-95845,CASE OF POPOVIC v. SERBIA,1,1. The case originated in an application (no....
1,001-95845,CASE OF POPOVIC v. SERBIA,2,"2. As of 3 June 2006, following the Montenegr..."
2,001-95845,CASE OF POPOVIC v. SERBIA,3,3. The applicant was represented by Mr S. Sto...

In [5]:
df['date'] = df['case_id'].map(id_t_date)

In [6]:
df.head(3)

,case_id,case_name,paragraph_number,paragraph_text,date
0,001-95845,CASE OF POPOVIC v. SERBIA,1,1. The case originated in an application (no....,24/11/2009
1,001-95845,CASE OF POPOVIC v. SERBIA,2,"2. As of 3 June 2006, following the Montenegr...",24/11/2009
2,001-95845,CASE OF POPOVIC v. SERBIA,3,3. The applicant was represented by Mr S. Sto...,24/11/2009

In [8]:
print(df.dtypes)

case_id             object
case_name           object
paragraph_number     int64
paragraph_text      object
date                object
dtype: object

In [9]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y', errors='coerce')

In [10]:
print(df.dtypes)

case_id                     object
case_name                   object
paragraph_number             int64
paragraph_text              object
date                datetime64[ns]
dtype: object

In [11]:
# counts nones in date column
df['date'].isna().sum()

20916

In [12]:
df.shape

(1024702, 5)

In [13]:
# save the dataframe
df.to_csv('/Users/ahmed/Desktop/msc-24/ECHR/paragraphs/echr_case_paragraphs_v2.csv', index=False)